:root{
    --letraPrincipal:1.125rem;
    --letraSecundaria:0.75rem;
    --colorLetraPrincipal:blueviolet;
    --colorLetraSecundaria:blue;
    --letrados:1.5rem;
}
.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(41, 28, 28, 0.416);
} 
.contenedor1 p{
    color:bisque;
    font-size: 5px;
}
.cuerpo1{
    background-color: rgba(213, 223, 28, 0.5);
}
.cuerpo1 h2{
    color: var(--colorLetraPrincipal);
    font-size: var(--letraPrincipal);
    font-weight: 600;
    
}
.cuerpo1 p{
    font-size: var(--letraSecundaria);
    font-weight: 500;
    color: var(--colorLetraSecundaria);
}
.contenedor2 h1{
    font-size: var(--letrados);
    color: aqua;
}